@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Roboto&family=Sora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    margin: 0;
    color: #31302d;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: rgb(153, 86, 47);
    color: white;
}

h2 {
    text-align: center;
}

a {
    color: inherit;
}

main {
    width: 70%;
    margin: 70px auto;

    form {
        textarea {
            resize: none;
            padding: 5px;
            font-family: 'Lato', sans-serif;
        }

        &>* {
            display: block;
            margin-top: 10px;
        }
    }
}