.likes-form {
    button[type="submit"] {
        background-color: white;
        border:none;
        cursor: pointer;
        outline: none;
        
        &:hover {
            color: rgb(148, 8, 8);
        }
    }
}