.google-signin-signup {
    border: 1px solid black;
    padding: 5px 10px;
    text-decoration: none !important;
    // border-radius: 5px;
    font-size: 14px;
    background-color: rgba(120, 120, 120, 0.1);
}

.google-signin-signup:hover {
    background-color: rgba(120, 120, 120, 0.3);
}