<div>
    <p>Hello <span style="color: grey"><%= comment.user.name %></span>!</p>
    <p>Your comment <strong>"<%= comment.content %>"</strong> just got published. :)</p>
    <br>
    <h4>Tell The Tale</h4>
</div>