h2 {
  text-align: center; }

main {
  width: 90%;
  margin: 70px auto;
  font-family: 'Roboto', sans-serif; }
  main form textarea {
    resize: none;
    padding: 5px;
    font-family: 'Lato', sans-serif; }
  main form > input {
    display: block;
    margin-top: 10px; }

#home_div {
  display: flex; }
  #home_div #post-section {
    width: 70%; }
  #home_div #friends-list {
    width: 30%;
    border-left: 1px solid black; }
    #home_div #friends-list a:hover {
      color: #520e0e; }
