#user-chat-box {
  position: fixed;
  bottom: 6px;
  right: 6px;
  border: 1px solid grey;
  border-radius: 5px;
  height: 370px;
  width: 310px;
  background: white;
  z-index: 100;
  box-shadow: 1px 1px 1px 1px lightgrey; }
  #user-chat-box #chat-messages-list {
    list-style: none;
    padding: 0.2px 2px;
    margin: 4px 0;
    height: 86.8% !important;
    background-color: white;
    overflow: auto; }
    #user-chat-box #chat-messages-list .other-message {
      text-align: left;
      padding: 0.2px 2px;
      border-radius: 6px;
      margin: 1.3px 0; }
      #user-chat-box #chat-messages-list .other-message span {
        border-radius: 6px;
        display: inline-block;
        padding: 5px;
        background-color: #c77c3e; }
    #user-chat-box #chat-messages-list .self-message {
      text-align: right;
      padding: 0.2px 2px;
      border-radius: 6px;
      margin: 1.3px 0; }
      #user-chat-box #chat-messages-list .self-message span {
        border-radius: 6px;
        display: inline-block;
        padding: 5px;
        background-color: #7bc9f7; }
  #user-chat-box #chat-message-input-container {
    height: 22% !important;
    width: 100%;
    display: flex;
    flex-direction: row;
    outline: none; }
    #user-chat-box #chat-message-input-container #chat-message-input {
      height: 50%;
      width: 85%;
      border: 1px solid black;
      border-radius: 0px 0px 0px 5px;
      outline: none; }
    #user-chat-box #chat-message-input-container #send-message {
      height: 50%;
      width: 15%;
      font-size: 25px;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 0px 0px 5px 0px;
      background: #262c26; }
