@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Roboto&family=Sora:wght@500&display=swap");
body {
  margin: 0;
  color: #31302d;
  font-family: 'Roboto', sans-serif; }

::selection {
  background-color: #997928;
  color: white; }

a {
  color: inherit; }

main {
  margin-top: 68px;
  text-align: center; }
